<textarea id="b64-result" name="str" class="mt-2 p-2 bg-white text-gray-900 border border-gray-300 rounded" readonly="true" autocomplete="off" autofocus="true" cols="100" maxLength="1024" rows="13">{{ .Response }}</textarea>
