{{ template "header" . }}

<div class="container max-w-4xl mx-auto">
	<div class="flex flex-col">
		<div class="mt-24 lg:mt-52 w-full bg-slate-100">
			<div class="flex m-12 flex-wrap">
				<span class="text-2xl font-bold">Utilities coming soon...</span>
			</div>
		</div>
	</div>
</div>

{{ template "footer" }}
